body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.small-button {
    border-top: 1px solid #5f6a70;
    background: #7c888f;
    background: -webkit-gradient(linear, left top, left bottom, from(#a4a8ab), to(#7c888f));
    background: -webkit-linear-gradient(top, #a4a8ab, #7c888f);
    background: -moz-linear-gradient(top, #a4a8ab, #7c888f);
    background: -ms-linear-gradient(top, #a4a8ab, #7c888f);
    background: -o-linear-gradient(top, #a4a8ab, #7c888f);
    padding: 4.5px 9px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    }
.button {
   border-top: 1px solid #5f6a70;
   background: #7c888f;
   background: -webkit-gradient(linear, left top, left bottom, from(#a4a8ab), to(#7c888f));
   background: -webkit-linear-gradient(top, #a4a8ab, #7c888f);
   background: -moz-linear-gradient(top, #a4a8ab, #7c888f);
   background: -ms-linear-gradient(top, #a4a8ab, #7c888f);
   background: -o-linear-gradient(top, #a4a8ab, #7c888f);
   padding: 7.5px 15px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #16181a;
   background: #16181a;
   color: #ccc;
   }
.button:active {
   border-top-color: #030303;
   background: #030303;
   }



/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
