@model QAHub.Models.SupportIssueModel

@{
   ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
   <div class="form-horizontal">
        <h4>Support Issue</h4>
        <hr />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TicketNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
               <input asp-for="TicketNumber" class="form-control" />
               <span asp-validation-for="TicketNumber"  class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Version" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version"  class="text-danger"></span>
            </div>
        </div>
         <div class="form-group">
            <label asp-for="Area" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area"  class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description"  class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QAOwner" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="QAOwner" class="form-control" />
                <span asp-validation-for="QAOwner"  class="text-danger"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="SupportOwner" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SupportOwner" class="form-control" />
                <span asp-validation-for="SupportOwner"  class="text-danger"></span>
            </div>
        </div>

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @*TODO : Until script helpers are available, adding script references manually*@
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
}